@import '../styles/colors';
.dataGridWrapper {
    height: 100%;
    width: 50rem;
    .actions-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.75rem;
        .pinkLink {
            color: $lollipop;
            text-decoration-color: $lollipop;
            cursor: pointer;
        }
        .deleteLink {
            color: $cancel-background-color;
            text-decoration-color: $cancel-background-color;
            cursor: pointer;
        }
    }
    .MuiDataGrid-columnHeaders {
        background-color: $sand;
    }
    .messageDiv {
        background-color: $mint;
        width: 100%;
        margin: auto;
    }
    .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
    .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell:focus {
        outline: none;
    }
    .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
        outline: none;
    }
}
