@import '../styles/colors';

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

.title {
    font-weight: 600;
    margin-top: 73px;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button {
    width: 260px;
    height: 40px;
    border-radius: 20px;
    text-transform: none;
    border: 1px solid $main-color;
}

.searchFormControl {
    align-items: center;
}

.searchBy {
    @extend .button;
    margin-top: 83px;

    .MuiSvgIcon-root {
        left: 1.875rem;
    }
    .MuiInputBase-root {
        width: 14.5rem;
        border-radius: 1.25rem;
        height: 2.5rem;
        border: 1px solid $main-color;
        margin-bottom: 0.625rem;
    }
    .MuiOutlinedInput-notchedOutline {
        border: none;
    }
}

.searchField {
    input {
        text-align: center;
    }
    .MuiOutlinedInput-root {
        @extend .button;
    }
    .MuiOutlinedInput-notchedOutline {
        border: none;
    }
}

.searchButton,
.searchButton:hover {
    @extend .button;
    background-color: $main-color;
    color: $background-color;
}

.listItems {
    padding-top: 1000px;
}

.listItem {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
}

.pinkLink {
    color: $lollipop;
}

.deleteLink {
    color: $cancel-background-color;
}
