@import '../styles/colors';

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

.page-heading {
    font-weight: 600;
    margin-top: 160px;
    margin-bottom: 70px;
    .MuiTypography-root {
        @include for-phone-only {
            font-size: 2rem;
        }
    }
}

.main-wrapper,
.fields {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fields-wrapper {
    border-radius: 20px;
    border: 1px solid $black;
    padding: 0rem 3.5rem;
    background-color: $background-color;
    margin-bottom: 25px;
}
.fields-wrapper:first-of-type {
    margin-bottom: 1rem;
}

.login-btn {
    border-radius: 20px;
    width: 16.25rem;
    color: $main-color;
    background-color: $sand;
    text-transform: none;
    border: 2px solid $main-color;
    margin-top: 0px;
    margin-bottom: 1.25rem;
    font-weight: 600;
    font-size: 1rem;
    color: $black;
}

.login-btn:hover {
    background-color: $sand;
    border: 2px solid $main-color;
}

.bottom-text {
    display: inline-block;
    margin: 0rem 10px;
    font-size: 1rem;
}

.texts {
    margin-top: 0px;
    display: inline-block;
    font-size: 16px;
}

.link {
    cursor: pointer;
    color: $link-color;
    text-decoration-color: $link-color;
}
