@import '../styles/colors';

.navigation {
    width: 100%;
    height: 80px;
    top: 0px;
    background: $main-color;
    position: 'relative';
    box-shadow: none;
    background-color: $main-color;
}

.know-it {
    position: absolute;

    width: 202.03px;
    height: 45.8px;
    left: 40px;
    top: 17px;

    color: $background-color;
    cursor: pointer;
}

.logo {
    position: absolute;

    width: 80px;
    height: 63px;
    left: 262.03px;
    top: 9px;

    color: $background-color;
    cursor: pointer;
}

.login {
    position: absolute;

    color: $background-color;

    height: 19px;
    width: 43px;
    right: 120px;
    top: 31px;
    cursor: pointer;
}

.profile {
    position: absolute;

    background: #f1f0ed;

    height: 40px;
    width: 40px;
    right: 40px;
    top: 20px;

    font-size: large;
    cursor: pointer;
    color: $main-color;
    border-radius: 5px;
}
