@import '../styles/colors';
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

.MuiContainer-root {
    margin-top: 100px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poll-name {
    padding-top: 80px;
    font-weight: 600 !important;
    font-size: 40px !important;
    @include for-phone-only {
        font-size: 30px !important;
        line-height: 0.8;
    }
}

.link-container {
    gap: 4rem;
    display: flex;
    margin-top: 2.5rem;
    .pinkLink {
        color: $lollipop;
        text-decoration-color: $lollipop;
        cursor: pointer;
    }
}

.messageDiv {
    background-color: $mint;
    width: 60%;
}
