@import '../styles/colors';

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

.MuiContainer-root {
    margin-top: 6.25rem;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-heading {
    display: flex;
    justify-content: center;

    .MuiTypography-root {
        font-size: 2.5rem;

        @include for-phone-only {
            font-size: 2rem;
        }
    }

    .MuiSvgIcon-root {
        transform: rotate(90deg);
        font-size: 3rem;

        @include for-phone-only {
            font-size: 2.5rem;
        }
    }
}

.poll-name {
    margin-top: 4.3rem;

    .MuiInputLabel-shrink {
        position: absolute;
        left: 1rem;
    }
    .MuiInputBase-root {
        border-bottom: 1px solid $main-color;

        &.MuiInput-underline:after {
            border-bottom: black !important;
        }
    }

    .MuiFormLabel-root {
        width: 100%;
        color: $placeholder-text-color;
    }

    .Mui-focused {
        color: $placeholder-text-color !important;
    }
}

.add-ques-btn {
    border-radius: 20px !important;
    width: 16.25rem !important;
    color: $main-color !important;
    background-color: $mint !important;
    text-transform: none !important;
    border: 2px solid $main-color !important;

    @include for-phone-only {
        font-size: 2.5rem;
    }

    .MuiSvgIcon-root {
        margin-right: 0.625rem;
    }
}

.submit-poll-btn {
    border-radius: 20px !important;
    width: 16.25rem !important;
    color: $background-color !important;
    background-color: $main-color !important;
    text-transform: none !important;
    border: 2px solid $main-color !important;

    @include for-phone-only {
        font-size: 2.5rem;
    }
}

.cancel-poll-btn {
    border-radius: 20px !important;
    width: 16.25rem !important;
    margin-top: 1rem !important;
    color: $background-color !important;
    background-color: $cancel-background-color !important;
    text-transform: none !important;
    border: 2px solid $main-color !important;

    @include for-phone-only {
        font-size: 2.5rem;
    }
}

.question-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vote-count-toggle-btn {
    display: flex !important;
    justify-content: center !important;
    margin: 6.25rem 0 0 0 !important;

    .Mui-checked {
        color: $black !important;
        position: absolute;
        top: 1px;
    }

    .Mui-checked + .MuiSwitch-track {
        border: 1px solid $black !important;
        background-color: $toggle-background-color !important;
        opacity: 10 !important;
    }
}

.vote-count-show-button {
    display: flex !important;
    justify-content: center !important;
    margin: 6.25rem 0 0 0 !important;

    .Mui-checked {
        color: $black !important;
    }

    .MuiSwitch-track {
        border: 1px solid $black !important;
        background-color: $toggle-background-color !important;
    }
}
