@import '../styles/colors';

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

.MuiContainer-root {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionType {
    padding-top: 80px;
    font-weight: 600 !important;
}

.questionTitle {
    padding-top: 80px;
    font-size: 40px !important;
}

.answerContainer {
    margin-top: 30px;
}

.questionPage {
    padding-top: 105px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.button {
    margin-top: 52px !important;
    border-radius: 20px !important;
    width: 16.25rem;
    color: $main-color !important;
    font-weight: bold !important;
    text-transform: none !important;
    background-color: $melon !important;
    border: 2px solid $main-color !important;
    gap: 10px;
    @include for-phone-only {
        font-size: 2.5rem;
    }
}

.previousQuestionButton {
    @extend .button;
    background-color: $melon !important;
}

.nextQuestionButton {
    @extend .button;
    background-color: $mint !important;
}
