@import '../styles/colors';
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

.main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header {
    margin-top: 173px;
    display: flex;
    justify-content: center;
    .MuiTypography-root {
        font-weight: 600;
        @include for-phone-only {
            font-size: 2rem;
        }
    }
    .MuiSvgIcon-root {
        transform: rotate(90deg);
        font-size: 3rem !important;
        @include for-phone-only {
            font-size: 2rem !important;
        }
    }
}

.creation-poll-name {
    margin-top: 3rem;
    .MuiInputBase-input {
        text-align: center;
    }
    .MuiInputLabel-shrink {
        position: absolute;
        left: 1rem;
    }
    .MuiInputBase-root {
        border-bottom: 1px solid $main-color;
        &.MuiInput-underline:after {
            border-bottom: black;
        }
    }
    .MuiFormLabel-root {
        width: 100%;
        color: $placeholder-text-color;
    }
}

.add-ques-btn,
.add-ques-btn:hover {
    border-radius: 20px;
    width: 16.25rem;
    color: $main-color;
    background-color: $mint;
    text-transform: none;
    border: 2px solid $main-color;
    @include for-phone-only {
        font-size: 1rem;
    }
    .MuiSvgIcon-root {
        margin-right: 0.625rem;
    }
}

.submit-poll-btn,
.submit-poll-btn:hover {
    border-radius: 20px;
    width: 16.25rem;
    color: $background-color;
    background-color: $main-color;
    text-transform: none;
    border: 2px solid $main-color;
    @include for-phone-only {
        font-size: 1rem;
    }
}

.css-1r3dwil-MuiButtonBase-root-MuiButton-root.Mui-disabled,
.css-1x2nin.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    border: none;
    //border: rgba(1, 1, 1, 0.515);
    background-color: rgba(0, 0, 0, 0.12);
}

.cancel-poll-btn,
.cancel-poll-btn:hover {
    border-radius: 20px;
    width: 16.25rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: $background-color;
    background-color: $cancel-background-color;
    text-transform: none;
    border: 2px solid $main-color;
    @include for-phone-only {
        font-size: 1rem;
    }
}

.question-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vote-count-toggle-btn {
    display: flex;
    justify-content: center;
    margin: 6.25rem 0 0 0;
    .MuiSwitch-switchBase {
        color: $black;
        position: absolute;
        size: large;
        top: 2px;
        left: 3px;
    }
    .MuiSwitch-thumb {
        height: 15px;
        width: 15px;
    }
    .Mui-checked + .MuiSwitch-track {
        border: 1px solid $black;
        background-color: $lollipop;
        opacity: 10;
    }
    .MuiSwitch-track {
        border: 1px solid $black;
        background-color: $toggle-background-color;
        opacity: 10;
    }
}

.vote-count-toggle-btn {
    .Mui-checked.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase {
        color: $black;
        .MuiSwitch-thumb {
            height: 15px;
            width: 15px;
            outline: $black;
        }
    }
}
