$main-color: #333333;
$background-color: #f1f0ed;
$sand: #e4e1db;
$placeholder-text-color: #92918f;
$link-color: #ff00ff;
$melon: #fcdfd8;
$mint: #dbeede;
$clay: #a5b1aa;
$cancel-background-color: #7c3647;
$black: #000000;
$toggle-background-color: #d9d9d9;
$flamingo: #fac0b1;
$pear: #b7debd;
$forest: #4b6455;
$lollipop: #ff00ff;
$sand: #e4e1db;
